.education {
  background-color: transparent;
  padding: 1rem;
  border-radius: 10px;
  /* Add border if desired */
  /* border: 1px solid #00e0d0; */
}

.education h3 {
  margin-bottom: 0.5rem; /* Adjust as needed */
}

.education ul {
  list-style: none; /* Remove default bullets */
  padding: 0;
}

.education li {
  margin-bottom: 0.3rem; /* Adjust as needed */
}
